AOAI_GPT4o_API_KEY = ""
AOAI_GPT4o_ENDPOINT = "https://YOUR_RESOURCE_NAME.openai.azure.com"
AOAI_GPT4o_DEPLOYMENT = ""

AOAI_FINETUNING_ENDPOINT = "https://YOUR_RESOURCE_NAME.openai.azure.com"
AOAI_FINETUNING_API_KEY = ""

EMBEDDING_OPENAI_DEPLOYMENT = ""

BASELINE_OPENAI_DEPLOYMENT = ""
BASELINE_OPENAI_ENDPOINT = "https://YOUR_RESOURCE_NAME.openai.azure.com"
BASELINE_OPENAI_KEY = ""

FINETUNED_OPENAI_DEPLOYMENT = "gpt-4o-mini-ft-raft-banking"
FINETUNED_OPENAI_ENDPOINT = "https://YOUR_RESOURCE_NAME.openai.azure.com"
FINETUNED_OPENAI_KEY = ""

JUDGE_OPENAI_DEPLOYMENT = ""
JUDGE_OPENAI_ENDPOINT = "https://YOUR_RESOURCE_NAME.openai.azure.com"
JUDGE_OPENAI_API_KEY = ""

AZURE_SUBSCRIPTION_ID= "YOUR_SUBSCRIPTION_ID"
AZURE_RESOURCE_GROUP_NAME="YOUR AZURE_RESOURCE_GROUP_NAME FOR THE AOAI RESOURCE"